---
layout: default
prism: true
---
<div class="flex justify-center">
    <img class="w-1/3 h-full watercolour lg:p-20 sm:p-10 p-7 object-top object-cover inline-block" src="{{image}}">
</div>
<div class="container max-w-4xl mt-6  px-6">
    <div class="flex justify-center pb-5 mb-5 border-b border-gray-100">
        <h1 class="inline-block p-5 scribble-border font-bold">{{title}}</h1>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}
        <h3><img src="/static/img/Book.svg" class="inline-block w-10 my-0"/> Bible verses</h3>
        <ul>
            {% for item in passages %}
            <li><span class="scribble">{{item.reference}} - </span> {{item.text}}</li>
            {% endfor %}
        </ul>
        <h3><img src="/static/img/Arrow3.svg" class="inline-block w-10 my-0"/> Practices</h3>
        <ul>
            {% for item in practices %}
                {% set practice = collections.practices | findBySlug(item.practice) %}
                <li><a href="{{practice.url}}">{{practice.data.title}}</a></li>
            {% endfor %}
        </ul>
        <h3><img src="/static/img/Speech2.svg" class="inline-block w-10 my-0"/> Questions</h3>
        <ol>
            {% for item in questions %}
            <li>{{item}}</li>
            {% endfor %}
        </ol>
    </article>
</div>