---
layout: default
---
    <div class="flex justify-center pb-5 mb-5 border-b border-gray-100">
        <h1 class="inline-block p-5 font-bold">{{title}}</h1>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
      {{content | safe}}
      <div class="border-t border-gray-200 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 sm:gap-4">
        {% for resource in collections.resources %}
          {% include "./partials/polaroid-link.html" %}
        {% endfor %}
        {% for resource in collections.worksheets %}
          {% include "./partials/polaroid-link.html" %}
        {% endfor %}
      </div>
    </article>