---
layout: default
prism: true
---
  <div style="background-image: url('{{image}}'); background-size: 100% auto; background-position: center" class="pt-36 px-10 -mx-6 -mt-2 flex justify-center border-b border-gray-100">
      <h1 class="inline-block brush-white p-5 font-bold">{{title}}</h1>
  </div>
  <article class="p-4 -mt-10 bg-white prose lg:prose-xl my-4 mx-auto">
      {% markdown description %}
      <div class="w-full flex justify-center">
        <span class="brush-blue scribble-big px-10 text-center"><img src="/static/img/Cross.svg" class="inline-block w-10 my-0 pr-1"/>The Cross</span>
      </div>
      {% markdown icons.cross %}
      <div class="w-full flex justify-center">
        <span class="brush-orange scribble-big text-center px-10"><img src="/static/img/Fire.svg" class="inline-block w-10 my-0 pr-1"/>The Fire</span>
      </div>
      {% markdown icons.fire %}
      <div class="w-full flex justify-center">
        <span class="brush-yellow scribble-big text-center px-10"><img src="/static/img/Seeds.svg" class="inline-block w-10 my-0 pr-1"/>The Seeds</span>
      </div>
      {% markdown icons.seeds %}
      <div class="w-full flex justify-center">
        <span class="brush-pink scribble-big text-center px-10"><img src="/static/img/Table1.svg" class="inline-block w-10 my-0 pr-1"/>The Table</span>
      </div>
      {% markdown icons.table %}
      <div class="w-full flex justify-center">
        <span class="brush-green scribble-big text-center px-10"><img src="/static/img/Vine.svg" class="inline-block w-10 my-0 pr-1"/>The Vine</span>
      </div>
      {% markdown icons.vine %}
      <hr/>
      {% if summary %}
        {% markdown summary %}
      {% endif %}
  </article>