---
layout: default
prism: true
---
<div class="container max-w-4xl mt-6  px-6">
  <div class="flex justify-center pb-5 mb-5 border-b border-gray-100">
      <h1 class="inline-block p-5 scribble-border font-bold">{{title}}</h1>
  </div>
  <article class="prose lg:prose-xl my-4 mx-auto">
      {% markdown description %}
      <h3><img src="/static/img/Cross.svg" class="inline-block w-10 my-0 pr-1"/>The Cross</h3>
      {% markdown icons.cross %}
      <h3><img src="/static/img/Fire.svg" class="inline-block w-10 my-0 pr-1"/>The Fire</h3>
      {% markdown icons.fire %}
      <h3><img src="/static/img/Seeds.svg" class="inline-block w-10 my-0 pr-1"/>The Seeds</h3>
      {% markdown icons.seeds %}
      <h3><img src="/static/img/Table1.svg" class="inline-block w-10 my-0 pr-1"/>The Table</h3>
      {% markdown icons.table %}
      <h3><img src="/static/img/Vine.svg" class="inline-block w-10 my-0 pr-1"/>The Vine</h3>
      {% markdown icons.vine %}
      <hr/>
      {% markdown summary %}
  </article>
</div>