@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Garland';
  src: url('/static/fonts/Garland.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/Proxima-Nova-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1 {
  @apply tracking-tighter mb-3 text-center sm:text-7xl text-5xl;
}

.proxima-nova {
  font-family: 'Proxima Nova';
}

img {
  height: 100%;
}

.prose img {
  margin: 0 !important;
}

h1,h2,h3 {
  font-family: 'Garland', fallback, sans-serif;
  font-weight: normal !important;
  line-height: 0.7 !important;
}
.scribble, strong {
  font-family: 'Garland', fallback, sans-serif;
  line-height: 0.7 !important;
  font-size: 2rem;
  font-weight: normal !important;
}

.scribble-big {
  font-family: 'Garland', fallback, sans-serif;
  line-height: 0.7 !important;
  font-size: 3rem;
  font-weight: normal !important;
}

.watercolour {
  background-image: url("/static/img/watercolour.png");
  background-size: 110% 120%;
  background-position: center;
}

.brush-green {
  background-image: url("/static/img/Brush_Green.svg");
  background-size: 100% 100%;
}

.brush-blue {
  background-image: url("/static/img/Brush_Blue.svg");
  background-size: 100% 100%;
}

.brush-yellow {
  background-image: url("/static/img/Brush_Yellow.svg");
  background-size: 100% 100%;
}

.brush-pink {
  background-image: url("/static/img/Brush_Pink.svg");
  background-size: 100% 100%;
}

.brush-orange {
  background-image: url("/static/img/Brush_Orange.svg");
  background-size: 100% 100%;
}

.scribble-border {
  background-image: url("/static/img/Brush_Orange.svg");
  background-size: 100% 100%;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
