@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
@font-face {
  font-family: "SketchBlockW03-Bold";
  src: url("/static/fonts/freeversionSketchBlock-Bold.woff2") format("woff2"),
  url("/static/fonts/freeversionSketchBlock-Bold.woff") format("woff"),
  url("/static/fonts/Sketch_Block.ttf") format("truetype");
} 

/* body {
  background-image: url("/static/img/background.png");
  background-size: cover;
} */

h1 {
  @apply tracking-tighter mb-3 text-center sm:text-7xl text-5xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

img {
  height: 100%;
}

h1, h2, h3 {
  @apply uppercase
}

h1,h2,h3, .scribble {
  font-family: 'SketchBlockW03-Bold', fallback, sans-serif;
}

.watercolour {
  background-image: url("/static/img/watercolour.png");
  background-size: 110% 120%;
  background-position: center;
}

.scribble-border {
  background-image: url("/static/img/Box.svg");
  background-size: 100% 100%;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
