<div class="w-full flex flex-col sm:flex-row justify-items-stretch gap-4 sm:m-3">
    {% if collections.icons %}
        {% for item in collections.icons %}
            <a href="{{item.url}}" class="flex hover:text-gray-500 flex-1 flex-col gap-4 px-2">
                <div class="flex-1 flex justify-center">
                    <image src="{{item.data.image}}" class="inline-block w-1/4 sm:w-max" >
                </div>
                <div class="brush-{{item.data.colour}} text-center" >
                    <span class="scribble-big text-xl">{{item.data.title}}</span>
                    <br/>
                    <span class="proxima-nova">{{item.data.subtitle}}</span>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>
