<div class="w-full max-w-2xl grid gap-4 my-8 px-4 lg:mx-0">
    {% if collections.icons %}
        {% for item in collections.icons %}
            <a href="{{item.url}}" target="_blank" class="shadow-2xl border grid grid-cols-1 sm:grid-cols-3 gap-4 rounded border-gray-200 hover:border-purple-400">
                <div class="sm:col-span-1">
                    <image src="{{item.data.image}}" class="w-max" >
                </div> 
                <div class="sm:col-span-2 mx-1">
                    <h3>{{item.data.title}}
                    →</h3>
                    <p>{{item.data.description}}</p>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>
